/*Google font*/
@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital@1&display=swap");

/* <Main/>をラップするcontaner */
.container {
  margin: 40px auto auto auto;
  max-width: 1200px;
}

/* profile関連 */
.app-profile {
  background-color: #292f38;
  width: 15%;
  min-width: 270px;
  height: 305px;
  padding: 10px;
  margin: 10px 0px 30px 45px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.photo {
  background-color: transparent;
  color: lightgray;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
}

.badge {
  background-color: transparent;
  color: gray;
  margin-right: 7px;
  font-size: 22px;
  border: none;
  outline: none;
}

/*Scroller*/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #aaa;
}
::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 10px;
}

/* practice list関係 */
.app-practices {
  background-color: #292f38;
  width: 25%;
  min-width: 350px;
  height: 700px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.practices-list {
  width: 100%;
  margin: auto;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
}

.practice {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-bottom: 10px;
}

.practice_body {
  flex: 1;
  padding: 10px;
}

.practice_avatar {
  padding: 20px;
}

.practice_title {
  font-weight: 800;
  font-size: 15px;
  color: gray;
}

.practice_username {
  font-weight: 600;
  font-size: 12px;
  color: gray;
  float: right;
}

.practice_description {
  color: gray;
  margin-bottom: 10px;
  font-size: 15px;
}

.practice_distance {
  color: gray;
  margin-bottom: 10px;
  font-size: 15px;
}

.practice_footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.trash {
  background-color: transparent;
  color: lightgray;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
}

/* 練習内容送信フォーム */

.tweetBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background);
  padding-right: 10px;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}

.tweetBox__input {
  padding: 20px;
  display: flex;
}

.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox_title {
  border: none;
  padding: 10px;
}
.tweetBox_description {
  border: none;
  padding: 10px;
}
.tweetBox_distance {
  border: none;
  padding: 10px;
}

.tweetBox__tweetButton {
  background-color: black !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  border-radius: 30px !important;
  width: 80px;
  height: 40px !important;
  margin-top: 20px !important;
  margin-left: auto !important;
}

#modalContent {
  background-color: white;
  padding: 10px;
  border-radius: "3px";
}

#overlay {
  /*　画面全体を覆う設定　*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  /*　画面の中央に要素を表示させる設定　*/
  display: flex;
  align-items: center;
  justify-content: center;
}